@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Default Light & Dark Themes */

:root {
  --bg-color: #f8f9fa;
  --text-color: #000;
  --text-color2: #3dc946;
}
[data-theme="dark"] {
  --bg-color: #1F1F1F;
  --text-color: #ffffff;
  --text-color2: #3dc946;
}

/* Dynamic Text Colors */
[data-text="green"] { --text-color2: #3dc946; }
[data-text="violet"] { --text-color2: #c800ff; }
[data-text="rose"] { --text-color2: #ff0062; }
[data-text="blue"] { --text-color2: #007bff; }
[data-text="orange"] { --text-color2:rgb(255, 128, 0); }
[data-text="cyan"] { --text-color2:#00FFFF; }

/* Apply Changes */
body {
  @apply bg-[var(--bg-color)] text-[var(--text-color)];
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
